<div class="login__container">
  <h2 class="login__title">Sign In</h2>
  <form class="login__form" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
    <div class="login__input-container">
      <input
        appAutoFocus
        formControlName="userLogin"
        type="text"
        class="login__input"
        [class.error]="loginForm.controls['userLogin'].invalid && loginForm.controls['userLogin'].touched"
        placeholder="Login" />
      <p
        *ngIf="loginForm.controls['userLogin'].invalid && loginForm.controls['userLogin'].touched"
        class="login__error-message"
      >
        Login must be at least 3 characters long
      </p>
      <input
        formControlName="userPassword"
        type="password"
        class="login__input"
        [class.error]="loginForm.controls['userPassword'].invalid && loginForm.controls['userPassword'].touched"
        placeholder="New password" />
      <p
        *ngIf="loginForm.controls['userPassword'].invalid && loginForm.controls['userPassword'].touched"
        class="login__error-message"
      >
        Password must be at least 8 characters long
      </p>
    </div>
    <button [disabled]="loginForm.invalid" type="submit" class="login__submit-button">Sign in</button>
    <a class="login__link" routerLink="/auth/sign-up">Don't have an account yet?</a>
  </form>
</div>
