<div class="backdrop" (click)="closeWindow($event)" data-close-target="true">
  <div class="modal">
    <p class="modal__notice">Confirm action</p>
    <p class="modal__question">{{ question }}</p>
    <div class="modal__buttons">
      <button
        class="modal__button modal__button_cancel"
        (click)="closeWindow($event)"
        data-close-target="true"
      >
        Cancel
      </button>
      <button
        class="modal__button modal__button_confirm"
        (click)="closeWindow($event)"
        data-close-target="true"
      >
        Confirm
      </button>
    </div>
  </div>
</div>

