<div class="column__task task">
  <div class="task__header">
    <p class="task__title">{{ task.title }}</p>
    <div class="task__menu menu">
      <span class="menu__points">...</span>
      <button class="menu__button-edit" title="Edit task" (click)="editTask()">
        <img src="/assets/icons/pencil.svg" alt="Edit task" height="18" width="18" />
      </button>
      <button class="menu__button-delete" title="Delete task" (click)="deleteTask()">
        <img src="/assets/icons/trash.svg" alt="Delete task" height="18" width="18" />
      </button>
    </div>
  </div>
  <p class="task__description">{{ task.description }}</p>
  <div class="task__footer">
    <label class="task__user" [title]="userName">{{ userChar }}</label>
    <div class="task__files">
      <img src="/assets/icons/files.svg" alt="Folder sign" height="16" width="16" />
      <span>{{ task.files.length }} files</span>
    </div>
  </div>
</div>
