<div class="backdrop" (click)="closeModal($event)" data-close-target="true">
  <div class="modal">
    <div class="modal__content" (click)="$event.stopPropagation()">
      <p class="modal__notice">{{ "MODAL.TITLE" | translate }}</p>
      <p class="modal__question">{{ "MODAL.QUESTION" | translate }}</p>
      <div class="modal__buttons">
        <button
          class="modal__button modal__button_cancel"
          (click)="reset()"
        >
          {{ "MODAL.CANCEL" | translate}}
        </button>
        <button
          class="modal__button modal__button_confirm"
          (click)="confirm()"
        >
          {{ "MODAL.AGREE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
