<div *ngIf="isModalVisible" class="modal__wrapper backdrop" id="exampleModal" tabindex="-1">
  <div class="modal__container">
    <div class="modal__window">
      <div class="modal__header">
        <h5 class="modal__title" id="exampleModalLabel">{{ (modalTitle ? 'BOARD.EDITTASK' : 'BOARD.NEWTASK') | translate }}</h5>
        <button type="button" class="modal__button-top-close" (click)="closeModal()">X</button>
      </div>
      <div class="modal__content">
        <form class="task-form" [formGroup]="taskForm" (ngSubmit)="submitForm()" novalidate>
          <div class="task-form__input-container">
            <label class="task-form__label">{{ 'BOARD.TITLE' | translate }}</label>
            <input
              id="taskTitle"
              formControlName="taskTitle"
              type="text"
              class="task-form__input"
              [class.error]="taskForm.controls['taskTitle'].invalid && taskForm.controls['taskTitle'].touched"
              [placeholder]="'BOARD.TITLETOOLTIP' | translate"
            />
            <p
              *ngIf="taskForm.controls['taskTitle'].invalid && taskForm.controls['taskTitle'].touched"
              class="task-form__error-message"
            >
              {{ 'BOARD.TITLERULE' | translate }}
            </p>
            <label class="task-form__label">{{ 'BOARD.DESCRIPTION' | translate }}</label>
            <textarea
              formControlName="taskDescription"
              rows="3"
              class="task-form__textarea"
              placeholder="Enter task description"
            ></textarea>
            <label class="task-form__label">{{ 'BOARD.PARTICIPANTS' | translate }}</label>
            <div class="task-form__selected-users" *ngIf="selectedUsers.length">
              <div class="task-form__user" *ngFor="let selUser of selectedUsers">
                <span class="task-form__username">{{ selUser.name }}</span>
                <button class="task-form__button-remove" (click)="removeUser($event, selUser._id)">X</button>
              </div>
            </div>
            <select
              id="taskUser"
              formControlName="taskUser"
              type="text"
              class="task-form__input"
              placeholder="Choose user"
              [ngModel]="selected"
              (change)="selectUser()"
            >
              <option value="-">-</option>
              <option *ngFor="let user of userList" [ngValue]="user._id">{{ user.name }}</option>
            </select>
          </div>
          <div class="task-form__footer">
            <button type="button" class="task-form__button-close" (click)="closeModal()">{{ 'BOARD.CLOSE' | translate }}</button>
            <button [disabled]="taskForm.invalid" type="submit" class="task-form__button-save">{{ 'BOARD.SAVE' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
