@import '../../../../../styles/colors';
@import '../../../../../styles/constants';
@import '../../../../../styles/components';
@import '../../../../../styles/functions';

.menu {
  @apply relative z-40;
}

.menu:after {
  content: '';
  @apply block absolute w-8 h-8 rounded-md transition-all duration-300;
  background-color: #e9cda6;
  top: -0.4rem;
  left: 0.6rem;
  z-index: -2;
}

.nav {
  @apply flex flex-col w-72 fixed p-4 right-20 gap-4 pt-24 opacity-0 invisible rounded-md transition-all duration-300;
  background-color: #e9cda6;
  top: -2rem;
  z-index: -1;
}

.menu.active .nav {
  @apply visible opacity-100;
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.lang {
  @apply justify-center gap-4 invisible opacity-0 absolute;
  top: 50px;
  right: 73px;
}

.menu.active .lang {
  @apply opacity-100 visible;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu .menu-item {
  @apply opacity-0 invisible no-underline h-auto text-center;
  transition: transform .3s ease, background .2s ease;
  cursor: pointer;
}

.menu.active .menu-item {
  @apply opacity-100 visible;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu__btn {
  @apply bg-transparent border-0;

  span {
    @apply block w-7 h-1 mb-0.5 transition-all duration-300;
    background-color: #6b6662;

    &:last-child {
      @apply mb-0;
    }
  }
}

.nav-link {
  @apply text-white p-2 rounded-md relative;

  &:hover {
    background-color: #6b6662;
  }
}

.active span {
  @apply transition-all duration-300;

  &:first-child {
    transform: translateY(1px) rotate(45deg);
  }

  &:nth-child(2) {
    @apply transition-all duration-75 w-0;
  }

  &:last-child {
    transform: translateY(-12px) rotate(-45deg);
  }
}
