<header class="header">
  <div class="header__container">
    <div class="header__wrapper">
        <div class="logo">
          <a class="logo__link" routerLink="">
            <svg-icon name="logo"></svg-icon>
          </a>
        </div>
        <div class="header__nav-wrapper">
          <app-dark-mode></app-dark-mode>
          <button class="header__new-board-btn nav-btn" *ngIf="false">New board</button>
          <app-menu></app-menu>
        </div>
    </div>
  </div>
</header>
