@import '../../../../styles/colors';
@import '../../../../styles/constants';
@import '../../../../styles/components.scss';

.header {
  box-shadow: 1px 1px #d1d5db;
  @apply fixed top-0 left-0 w-full z-40;

  &__container {
    @apply container mx-auto px-4;
  }

  &__wrapper {
    @apply flex justify-between items-center h-20;
  }
  
  &__nav-wrapper {
    @apply flex items-center gap-x-4;
  }

  &__new-board-btn {
    // color: $purple;
    font-size: 14px;
  }
}

.logo {
  @apply flex items-center gap-x-4;

  &__link {
    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: #6b6662;
      transition: $transitionAll300;
    }
  }

  &__link:hover {
    svg {
      fill: #e9cda6;
    }
  }
}
