<div class="modal__wrapper backdrop" [class.is-open-modal]="isBoardModalVisible" tabindex="-1">
  <div class="modal__container">
    <div class="modal__window">
      <div class="modal__header">
        <h5 class="modal__title">{{ (boardToEdit._id ? 'BOARD.EDIT' : 'BOARD.ADD') | translate }}</h5>
        <button type="button" class="modal__button-top-close" (click)="closeModal()">X</button>
      </div>
      <div class="modal__content">
        <form class="task-form" [formGroup]="boardForm" (ngSubmit)="submitForm()" novalidate>
          <div class="task-form__input-container">
            <label class="task-form__label">{{ 'BOARD.TITLE' | translate }}</label>
            <input
              formControlName="boardTitle"
              type="text"
              class="task-form__input"
              [class.error]="boardForm.controls['boardTitle'].invalid && boardForm.controls['boardTitle'].touched"
              [placeholder]="'BOARD.BOARDTITLETOOLTIP' | translate"
            />
            <p
              *ngIf="boardForm.controls['boardTitle'].invalid && boardForm.controls['boardTitle'].touched"
              class="task-form__error-message"
            >
            {{ 'BOARD.BOARDTITLERULE' | translate }}
            </p>
            <label class="task-form__label">{{ 'BOARD.PARTICIPANTS' | translate }}</label>
            <div class="task-form__selected-users" *ngIf="selectedUsers.length">
              <div class="task-form__user" *ngFor="let selUser of selectedUsers">
                <span class="task-form__username">{{selUser.name}}</span>
                <button class="task-form__button-remove" (click)="removeUser($event, selUser._id)">X</button>
              </div>
            </div>
            <select
              formControlName="boardUser"
              type="text"
              class="task-form__input"
              placeholder="Choose user"
              [ngModel]="selected"
              (change)="selectUser()"
            >
              <option value="-">-</option>
              <option *ngFor="let user of userList" [ngValue]="user._id">{{ user.name }}</option>
            </select>
          </div>
          <div class="task-form__footer">
            <button type="button" class="task-form__button-close" (click)="closeModal()">{{ 'BOARD.CLOSE' | translate }}</button>
            <button [disabled]="boardForm.invalid" type="submit" class="task-form__button-save">{{ 'BOARD.SAVE' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
