<article class="board">
  <div class="board__header">
    <div class="board__title-wrapper">
      <h2 class="board__title">{{ (board | async)?.title }}</h2>
      <button *ngIf="isOwner | async" class="board__button-edit" (click)="editBoard()" title="{{ 'BOARD.EDIT' | translate }}">
        <svg-icon src="../../../../assets/icons/pencil.svg"></svg-icon>
      </button>
    </div>
    <div class="board__search search">
      <form class="search__form" [formGroup]="searchForm">
        <img src="../../../../assets/images/search.png" alt="{{ 'BOARD.SEARCH' | translate }}">
        <input
            class="search-input rounded-md"
            type="search" name="search"
            formControlName="search"
            [placeholder]="'BOARD.INTERNALSEARCHPLACEHOLDER' | translate"
            autocomplete="off"
          >
      </form>
    </div>
    <div class="board__users-wrapper">
      <app-user-label [userList]="userList"></app-user-label>
    </div>
  </div>
  <div
    class="board__all-columns"
    cdkDropList
    cdkDropListGroup
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <section class="board__column" *ngFor="let column of columns | async" cdkDrag>
      <div class="board__column-drag-handle" cdkDragHandle></div>
      <app-column class="board__column-component" [column]="column"></app-column>
    </section>
    <section class="board__column-last column">
      <button class="column__button-add-column" title="{{ 'BOARD.NEWCOLUMN' | translate }}" (click)="addColumn()">
        {{ 'BOARD.NEWCOLUMN' | translate }}<br /><span>+</span>
      </button>
    </section>
  </div>
</article>
<app-task-modal [(isModalVisible)]="isModalVisible" [taskToEdit]="taskToEdit"></app-task-modal>
<app-board-modal [(isBoardModalVisible)]="isBoardModalVisible" [boardToEdit]="boardToEdit"></app-board-modal>
<div *ngIf="isLoading | async" class="loader backdrop" tabindex="-1"></div>
