@import './colors';
@import './constants';

.btn-inline {
  background-color: $purple;
  border-radius: 0.375rem;
  border: 1px solid $orange;
  padding: 0.5rem;
  color: $white;
  outline: none;
  transition: $transitionAll300;

  &:hover {
    background-color: $white;
    border-color: $purple;
    color: $purple;
  }

  &_active {
    background-color: transparent;
    position: relative;
  }

  &_active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: $purple;
  }

}

.tab-inline {
  background-color: transparent;
  padding: 0.2rem 0.4rem;
  border-radius: 0.375rem;
  transition: $transitionAll300;
  color: $white;

  &_active,
  &:hover {
    background-color: $purple;
  }
}