@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/fonts.scss';
@import '../styles/reset.scss';
@import 'palette';

html {
  font-size: 16px;
  min-height: 100vh;
}

body {
  min-height: inherit;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.main {
  flex: 1 0 auto;
}
