<div class="column__wrapper">
  <header class="{{ color }} column__header">
    <input
      type="search"
      [(ngModel)]="columnTitle"
      (blur)="columnNameChange()"
      (keydown.enter)="columnNameChange($event)"
      class="column__title"
      [appAutoFocus]="disableAutoFocus"
    />
    <button class="column__button-delete" title="Delete column" (click)="onOpenConfirmModal(column)">
      <img src="/assets/icons/trash.svg" alt="Delete column" height="18" width="22" />
    </button>
  </header>
  <div class="column__tasks" cdkDropList [id]="columnId" [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)">
    <div class="column__task" *ngFor="let task of tasks" cdkDrag>
      <app-task-card [task]="task" (delete)="onOpenConfirmModal($event)"></app-task-card>
    </div>
  </div>
  <button class="column__button-add-task" title="Add new task" (click)="newTask()" [disabled]="!columnId">+</button>
</div>
